<!DOCTYPE html>
{% extends "homepage.html"%}
{% block title %}About Me{% endblock %}

{% block head%}
  {{ super() }}
{% endblock%}

{% block page_content%}
  <div style="text-align: center;" class="container">
    <h1 class="mt-5"><i class="fa fa-address-card-o" aria-hidden="true"></i> ABOUT ME</h1>
    <h3 class="mt-5"><i class="fa fa-database" aria-hidden="true"></i>Business Skillset</h3>
    <p>
      Have experince with various Accounting and Financial Applications which include but are not limited to:
    </p>
    <ul style="list-style-type: none;">
      <li>Bloomberg</li>
      <li>FactSet</li>
      <li>Excel</li>
      <li>Pyhton</li>
    </ul>
    <p>Developed by <a id="developer" href="https://github.com/gthuku" data-toggle="tooltip" data-placement="top" title="Student at University of Delaware">George Thuku</a>.</p>

  </div>
{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock%}
