<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title%}{% endblock%} -Resume</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="icon" href="{{ url_for('static', filename='img/george.gif') }}" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.gif') }}" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% endblock%}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
  George Thuku
       </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
               <span class="sr-only">(current)</span>
             </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/professors">Professors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course-directory">Course Directory</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="profile_info">
    <span class="d-none d-lg-block">
          <img src="static/img/george.png" alt="">
    </span>

  </div>
  <p class="para">
    Currently an undergraduate student at the University of Delaware pursuing a degress in Accounting and Management Information Systems
  </p>
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert alert-{{category}}">
    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
  </div>
  {% endfor %} {% block page_content%} {% endblock%} {% block scripts%}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  {% endblock%}
</body>

</html>
